spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.web.filter: debug
    org.springframework.security: trace
    org.springframework.security.web.FilterChainProxy: trace

